<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://i.postimg.cc/8CqYBR2Y/logo.png"
      type="image/png"
    />
    <title>Personify</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: "Open sans", arial, helvetica;
      font-size: 14px;
      line-height: 1.7;
      background-color: #0e0f12;

      color: white;
    }

    #navbar {
      background-color: black;

      position: fixed;
      width: 300;
      height: 100%;
      border-right: solid;
      border-color: #000;
    }

    nav {
      display: block;
    }

    header {
      display: flex;
      align-items: center;
      font-weight: bold;
      margin: 10px;
      text-aling: center;
      font-size: 2em;
    }

    #navbar ul {
      padding: 0px;
      font-size: 1.2em;
      text-align: left;
    }

    #navbar li {
      position: relative;
      width: 100%;
      color: #f4f4f4;
      list-style: none;
    }

    #navbar a {
      display: block;
      padding: 7px 20px;
      color: #f4f4f4;

      text-decoration: none;
      cursor: pointer;
    }

    #main-doc {
      position: absolute;
      margin-left: 280px;
      padding: 10px;
      margin-bottom: 110px;
    }

    .main-section {
      margin: 15px;
      font-size: 1.02em;
    }

    section p {
      margin: 16px 0px;
    }

    section li {
      margin: 16px 0px 0px 35px;
    }

    code {
      display: block;
      text-align: left;
      white-space: pre-line;
      position: relative;
      word-break: normal;
      line-height: 1.5;
      background-color: #7b7b7e;
      padding: 20px;
      margin: 20px;
      border-radius: 3px;
    }

    @media screen and (max-width: 768px) {
      #main-doc {
        margin-left: 292px;
      }
    }
  </style>
  <body>
    <nav id="navbar">
      <header>
        <img src="https://i.postimg.cc/8CqYBR2Y/logo.png" width="60px" />
        Personify
      </header>
      <ul>
        <li>
          <a href="#introducción" class="nav-link">Introducción</a>
        </li>
        <li>
          <a href="#endpoint" class="nav-link">Endpoint</a>
        </li>
        <li>
          <a href="#descripción_endpoint" class="nav-link"
            >Descripción del Endpoint</a
          >
        </li>
        <li>
          <a href="#ejemplo_solicitud" class="nav-link">Ejemplo de Solicitud</a>
        </li>
        <li>
          <a href="#detalles_implementación" class="nav-link"
            >Detalles de Implementación</a
          >
        </li>
        <li>
          <a href="#códigos_estado" class="nav-link">Códigos de Estado</a>
        </li>
        <li>
          <a href="#razón_códigos_estado" class="nav-link"
            >Razón de los Códigos de Estado</a
          >
        </li>
        <li>
          <a href="#ejemplos_uso" class="nav-link">Ejemplos de Uso</a>
        </li>
        <li>
          <a href="#límites_uso" class="nav-link">Límites de Uso</a>
        </li>
        <li>
          <a href="#consideraciones_seguridad" class="nav-link"
            >Consideraciones de Seguridad</a
          >
        </li>
        <li>
          <a href="#utilidades_aplicaciones" class="nav-link"
            >Utilidades y Aplicaciones</a
          >
        </li>
        <li>
          <a href="#posibles_limitaciones" class="nav-link"
            >Posibles Limitaciones</a
          >
        </li>
        <li>
          <a href="#conclusión" class="nav-link">Conclusión</a>
        </li>
      </ul>
    </nav>

    <main id="main-doc">
      <section class="main-section" id="introducción">
        <header>Introducción</header>
        <article>
          <p>
            La API Personify es una solución versátil y poderosa diseñada para
            proporcionar una forma rápida y sencilla de generar avatares
            personalizados. Los avatares son elementos visuales clave en muchas
            aplicaciones modernas, desde redes sociales hasta juegos en línea,
            ya que permiten a los usuarios expresar su identidad de manera
            única. Sin embargo, crear avatares personalizados puede ser una
            tarea compleja y costosa para los desarrolladores. La API Personify
            resuelve este problema al ofrecer una solución fácil de usar que
            genera avatares únicos basados en el género y el nombre
            proporcionados.
          </p>
        </article>
      </section>

      <section class="main-section" id="endpoint">
        <header>Endpoint</header>
        <code>/generate_avatar/{gender}/{name}</code>
      </section>

      <section class="main-section" id="descripción_endpoint">
        <header>Descripción del Endpoint</header>
        <article>
          <p>
            Este endpoint genera un avatar personalizado basado en el género y
            el nombre proporcionados.
          </p>
          <p>Método: GET</p>
          <p>Parámetros de ruta:</p>
          <ul>
            <li>
              <code>{gender}</code>: El género del avatar. Puede ser "male" o
              "female".
            </li>
            <li>
              <code>{name}</code>: El nombre que se utilizará para personalizar
              el avatar.
            </li>
          </ul>
          <p>Parámetros opcionales: Ninguno</p>
        </article>
      </section>

      <section class="main-section" id="ejemplo_solicitud">
        <header>Ejemplo de Solicitud</header>
        <code
          >GET
          https://personify-k2iv.onrender.com/generate_avatar/female/maria</code
        >
        <p>
          Respuesta: La respuesta de este endpoint es directamente la imagen del
          avatar generada.
        </p>
      </section>

      <section class="main-section" id="detalles_implementación">
        <header>Detalles de Implementación</header>
        <article>
          <p>
            La generación de avatares en la API Personify se basa en un
            algoritmo avanzado que combina el género y el nombre proporcionados
            para crear un avatar único. El nombre se utiliza para determinar
            características como el color del cabello, la forma del rostro y la
            expresión facial, mientras que el género influye en aspectos como la
            forma del cuerpo y la vestimenta.
          </p>
        </article>
      </section>

      <section class="main-section" id="códigos_estado">
        <header>Códigos de Estado</header>
        <ul>
          <li>
            200 OK: La solicitud se ha completado correctamente. Se devuelve la
            imagen del avatar generada.
          </li>
          <li>
            400 Bad Request: La solicitud no es válida o falta información
            requerida.
          </li>
          <li>404 Not Found: El recurso solicitado no se encontró.</li>
          <li>500 Internal Server Error: Error del servidor.</li>
        </ul>
      </section>

      <section class="main-section" id="razón_códigos_estado">
        <header>Razón de los Códigos de Estado</header>
        <article>
          <p>
            Los códigos de estado proporcionan información sobre el resultado de
            la solicitud realizada a la API. Estos códigos se utilizan para
            ayudar a los desarrolladores a identificar y solucionar problemas en
            sus aplicaciones, como errores de entrada de usuario o problemas en
            el servidor.
          </p>
        </article>
      </section>

      <section class="main-section" id="ejemplos_uso">
        <header>Ejemplos de Uso</header>
        <article>
          <p>Ejemplo 1: Integración en una Aplicación de Red Social</p>
          <p>
            Supongamos que estás desarrollando una aplicación de red social y
            deseas mostrar avatares personalizados para cada usuario.
          </p>
          <code>
            import requests def obtener_avatar(genero, nombre): url =
            f"https://personify-k2iv.onrender.com/generate_avatar/{genero}/{nombre}"
            response = requests.get(url) if response.status_code == 200: return
            response.content # Aquí puedes procesar la imagen como desees else:
            return None # Llamada de ejemplo avatar = obtener_avatar("female",
            "liduina")
          </code>

          <p>Ejemplo 2: Integración en un Juego en Línea</p>
          <p>
            Imagina que estás desarrollando un juego en línea y quieres permitir
            que los jugadores elijan un avatar personalizado.
          </p>
          <code>
            const obtenerAvatar = async (genero, nombre) => { try { const
            response = await
            fetch(`https://personify-k2iv.onrender.com/generate_avatar/${genero}/${nombre}`);
            if (response.ok) { const avatarUrl = await response.text(); // Aquí
            puedes usar avatarUrl para mostrar la imagen del avatar en tu juego
            } else { console.error("Error al obtener el avatar:",
            response.statusText); } } catch (error) { console.error("Error de
            red:", error); } }; // Llamada de ejemplo obtenerAvatar("female",
            "liduina");
          </code>
        </article>
      </section>

      <section class="main-section" id="límites_uso">
        <header>Límites de Uso</header>
        <article>
          <p>
            Actualmente, no hay límites establecidos en el uso de esta API. Sin
            embargo, es posible que en el futuro se implementen restricciones
            para garantizar un rendimiento óptimo del servicio.
          </p>
        </article>
      </section>

      <section class="main-section" id="consideraciones_seguridad">
        <header>Consideraciones de Seguridad</header>
        <article>
          <p>
            La API Personify no requiere autenticación, lo que la hace accesible
            públicamente. Sin embargo, es importante que los desarrolladores
            implementen medidas de seguridad adecuadas en sus aplicaciones para
            proteger los datos y prevenir el acceso no autorizado a la API.
          </p>
        </article>
      </section>

      <section class="main-section" id="utilidades_aplicaciones">
        <header>Utilidades y Aplicaciones</header>
        <article>
          <p>
            La API Personify se adapta a una variedad de casos de uso en
            diferentes industrias. Aquí hay algunas aplicaciones comunes donde
            la API puede ser beneficiosa:
          </p>
          <ul>
            <li>
              Redes Sociales: En plataformas de redes sociales, los avatares
              personalizados agregan un toque de individualidad a los perfiles
              de usuario. La API Personify facilita la generación de estos
              avatares, lo que mejora la experiencia del usuario y promueve la
              identidad en línea.
            </li>
            <li>
              Juegos en Línea: Los avatares personalizados son una
              característica popular en los juegos en línea. Con la API
              Personify, los desarrolladores de juegos pueden permitir que los
              jugadores creen avatares únicos que reflejen su personalidad en el
              juego, lo que aumenta el compromiso y la interacción del usuario.
            </li>
            <li>
              Plataformas de Mensajería: En aplicaciones de mensajería y chat,
              los avatares ayudan a los usuarios a identificar rápidamente a sus
              contactos. La API Personify permite a estas aplicaciones generar
              avatares personalizados basados en los nombres de usuario, lo que
              facilita la comunicación visual entre los usuarios.
            </li>
          </ul>
        </article>
      </section>

      <section class="main-section" id="posibles_limitaciones">
        <header>Posibles Limitaciones</header>
        <article>
          <p>
            Aunque la API Personify ofrece una solución rápida y eficiente para
            generar avatares personalizados, es importante tener en cuenta
            algunas consideraciones:
          </p>
          <ul>
            <li>
              Privacidad del Usuario: Al generar avatares basados en nombres de
              usuario, asegúrate de obtener el consentimiento adecuado del
              usuario y de cumplir con las regulaciones de privacidad
              aplicables.
            </li>
            <li>
              Personalización Limitada: La generación de avatares se basa en
              algoritmos predefinidos y puede tener limitaciones en términos de
              personalización avanzada, como la selección de rasgos específicos.
            </li>
            <li>
              Rendimiento de la API: A medida que el volumen de solicitudes
              aumenta, el rendimiento de la API puede verse afectado. Es
              importante monitorear el rendimiento y escalar la infraestructura
              según sea necesario para garantizar la disponibilidad y la
              velocidad de respuesta.
            </li>
          </ul>
        </article>
      </section>

      <section class="main-section" id="conclusión">
        <header>Conclusión</header>
        <article>
          <p>
            La API Personify ofrece una forma conveniente y rentable de agregar
            avatares personalizados a tus aplicaciones. Al comprender cómo y por
            qué se diseñó esta API, así como sus posibles limitaciones y casos
            de uso, puedes aprovechar al máximo esta herramienta para mejorar la
            experiencia del usuario y agregar valor a tus aplicaciones
            digitales.
          </p>
        </article>
      </section>
      <footer>
        <div style="text-align: center; margin-bottom: 20px">
          <a
            href="https://github.com/obed-tc"
            target="_blank"
            rel="noopener noreferrer"
            style="
              display: inline-block;
              padding: 10px 20px;
              background-color: #333;
              color: #fff;
              text-decoration: none;
              border-radius: 4px;
            "
          >
            Creado por @obed-tc
          </a>
        </div>
      </footer>
    </main>
  </body>
</html>
